body {
   background-image: url('images/owl.png');
    background-size: cover;          
    background-repeat: no-repeat;    
    background-position: center;     
    background-attachment: fixed;    
    
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw; 
}

#menu-container {
    width: 450px;
    height: 100px;
    background: rgba(128, 128, 128, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-btn {
    width: 120px;
    height: 70px;
    background-color: #8ba08f;
    color: #333333;
    border: none;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background: transparent;
}

#form1, #form2, #form3 {
    position: relative;
}

.btn-text {
    color: #2c3e50;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-btn:hover {
    background: #809e83;
    cursor: pointer;
}

.menu-btn:hover .btn-text {
    color: #ffffff;
}
